# Environment variables
.env
.env.*
**/.env
Job-Portal-main/backend/.env

# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/

# Editor & OS files
.vscode/
.DS_Store
Thumbs.db
